@page
@model ProgressReportingDemo.Pages.IndexModel
@{
    ViewBag.Title = "Progress Reporting Demo - Home";
}

<h1>@ViewBag.Title</h1>

<ul>
    <li><a href="/Blazor">Blazor Server</a></li>
    <li><a asp-page="/ServerSentEvents">Server-Sent Events</a></li>
    <li><a asp-page="/WebSocket">WebSocket</a></li>
</ul>